* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 65px;
  height: 30px;
  cursor: pointer;
}

.label {
  background-color: #04131A;
  border-radius: 50px;
  cursor: pointer;

  transition: all 0.9s ease;

  display: flex;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 1.4em;
  width: 2.8em;

  transform: scale(1.5);
}

.label .ball {
  background-color: #8EB219;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 18px;
  width: 18px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(23px);
}

@media(min-width: 769px) and (max-width: 1024px) {
  .label {
    height: 17px;
    width: 33px;
    padding: 4px;
  }

  .label .ball {
    height: 15px;
    width: 15px;

    top: 1.4px;
    left: 2.4px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(15px);
  }

  .checkbox {
    width: 37px;
    height: 18px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .label {
    height: 0.8em;
    width: 1.6em;
    padding: 3px;
  }

  .label .ball {
    height: 11px;
    width: 11px;

    top: 0.8px;
    left: 1.5px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(12px);
  }

  .checkbox {
    width: 37px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .label {
    height: 22px;
    width: 43px;
    padding: 6px;
  }

  .label .ball {
    height: 18px;
    width: 18px;

    top: 2px;
    left: 3px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(19px);
  }

  .checkbox {
    width: 60px;
    height: 32px;
  }
}